@import url('https://fonts.googleapis.com/css?family=Poppins:wght100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width:100%;
    background: #E5E7EB;
    position:relative;
    display:flex;
}

.banner_main h1{
    vertical-align:middle;
}

#menu{
    background: linear-gradient(to bottom, #4164da, #11bbb9);
    width: 250px;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
}

#menu .logo{
    display:flex;
    align-items: center;
    color:#FFF;
    padding: 30px 0 0 30px;

}

#menu .logo img{
    width: 170px;
    margin-right: 15px;
}

#menu .MenuItems{
    margin-top: 40px;
}

#menu .MenuItems li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

#menu .MenuItems li:hover{
    background: #132f88;
    cursor:pointer;
}

#menu .MenuItems li:nth-child(1){
    border-left: 4px solid white;
}

#menu .MenuItems li svg{
    width: 20px;
    height: 20px;
    margin: 0 10px 0 25px;
}

#menu .MenuItems li:hover a {
    color:#F3F4F6;
}

#menu .MenuItems li a{
    text-decoration: none;
    color: rgb(226, 226, 226);
    font-weight: 300px;
    transition: 0.3s ease;
}

#interface {
    width: calc(100% - 300px);
    margin-left: 250px;
    position:relative;
} 

button { 
    border: none;
    border-radius: 5%;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    background-color: lightgray;
    /* display: inline-block; */
    font-size: 14px;
}

#interface .navBar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #4164da, #11bbb9);
    padding:15px 15px;
    position: sticky;
    width: calc(100% - 250px);
}

#interface .searchBar {
    width:calc(100%-250px);
    display:flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
}

#interface .searchBar input {
    border:none;
    outline:none;
    font-size:20px;
    width: 80%;

}

#interface .searchBar svg{
    width: 25px;
    height: 25px;
    margin-right: 14px;
}


#interface .navBar .Profile{
    display:flex;
    justify-content: flex-start;
    align-items: right;
    margin-left: auto; 
    margin-right: 0;
}

#interface .navBar .Profile img {
    width:30px;
    height:30px;
    object-fit: cover;
    border-radius: 50%;
}

.n1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu-btn{
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
    display:none;
}

.i-name{
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size:24px;
    font-weight: 700;
    margin-top: 70px;
}

.stats{
    padding: 30px 30px 0 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.stats .valueBox{
    background: white;
    width: 235px;
    padding: 16px 20px;
    padding-bottom: 25px;
    border-radius: 5px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.stats .valueBox svg:nth-child(1){
    background:#7B74EC;
}

.stats .valueBox svg:nth-child(2){
    background:#5C8AF0;
}

.stats .valueBox svg{
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align:center;
    color: white;
    margin-right: 15px;
}

.stats .valueBox h3{
    font-size: 18px;
    font-weight: 600;
}

.stats .valueBox span{
    font-size: 15px;
    color: #828997;
}

.syncButton{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
}

.syncButton button{
    width: 100%;
    text-align: left;
    font-size: 25px;
    color: darkgray;
    border: darkgray;
    border-radius: 8px;
    padding: .5%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.syncButton svg{
    width: 25px;
    height: 25px;
    margin-right: 14px;
}

.board{
    width:95%;
    margin: 14px;
    background: white;
    border-radius: 5px;
    border-collapse: collapse;
    padding: 5px;
    overflow-x: auto;
}

#patientTable
{
    overflow-y:scroll;
    overflow-x: auto;
    border-collapse:collapse;
    width:95%;
    margin-left: 20px;
    margin-top: 20px;
    height:auto;
    display:block;
    background-color: white;
    table-layout: fixed;
    padding: 5px;
}

#patientTable th
{
    position: sticky;
    font-size: 14px;
    top:0px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: start;
    padding-right: 20px;
    border:1px;
}

#patientTable td
{
    font-size: 14px;
    top:0px;
    font-weight: 400;
    text-align: start;
    padding-right: 20px;
    border:1px;
}

#patientBody
{
    border:1px;
    padding:15px;
    height:300px;
    overflow-y:scroll;
    text-align:start;
}

.healthStatus h5{
    background-color: #d7fada;
    padding:2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.healthStatus .healthy{
    background-color: #d7fada;
    padding:2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.healthStatus .Injured{
    background-color: #dfa11c;
    padding:2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.healthStatus .stroke{
    background-color: #d41cbc;
    padding:2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.AddMeasure a{
    text-decoration: none;
    font-size: 14px;
    color: #554cd1;
    font-weight:600;
}

.AddMeasure svg{
    width: 20px;
    height: 20px;
}

@media (max-width: 769px) {
    #menu {
        width: 200px;
        position:fixed;
        left:-200px;
        transition: 0.3s ease;
    }

    #menu.active{
        left:-270px;
    }

    #menu-btn{
        display:initial;
    }
    #menu.active~#interface{
        width: calc(100%-270px);
        margin-left: 270px;
        transition: 0.3s ease;
    }

    #interface{
        width:100%;
        margin-left: 0px;
        display:inline-block;
    }
    #interface .navBar{
        width:100%;
    }

    .stats{
        justify-content: flex-start;
    }

    .stats .valueBox{
        padding: 16px 20px;
        margin: 10px 20px 10px 0;
    }


    table{
        width:100%;
        border-collapse: collapse;
    }

}

@media (max-width: 477px){
    #interface .navBar{
        padding: 15px;
    }

    #interface .navBar .searchBar input{
        width: 150px;
    }

    .i-name{
        padding:30px 15px 0 15px; 
    }

    .stats{
        padding:15px 15px 0 15px;
    }

    .stats .valueBox{
        width:100%;
        margin: 8px 0;
    }

}

.admin {
    position: relative;
}

#adminPortal {
    display: grid;
    place-items: center;
    padding: 2em;
}

#adminPortal h2 {
    margin-bottom: 10px;
}

#adminExport {
    display: grid;
    place-items: center;
    padding: 2em;
}

#adminExport h2 {
    margin-bottom: 10px;
}

#signUpForm {
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: white;
}

ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}
  
#signUpForm li + li {
margin-top: 1em;
}
  
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 150px;
    text-align: left;
} 

.radio {
    display: inline-block;
    width: 80px;
    text-align: left;
}

  
.btnSU {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    /* margin-left: 1em; */
    margin: 0 10em;
    background-color: #4164da; 
    color: white;
    text-align: center;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
}

.inputSU {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  /* width: 200px;
  box-sizing: border-box; */

  /* Match form field borders */
  /* border: 1px solid #999; */

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.radioBtns {
    display: inline;
}

#signUpForm h3 {
    margin-bottom: 20px;
}

#mainBody {
    width: 100%;
}
